
<nav class="bg-white border border-b-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
 
      <div class="w-full md:w-auto">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-0 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white ">
          <li>
            <a href="{% url 'mobiles_list' %}" class="block py-2 px-3 text-white bg-cyan-600 rounded md:bg-transparent md:text-cyan-600 md:p-0 aria-current="page">لیست گوشی ها</a>
          </li>
          <li>
              <a href="{% url 'mobile:brands_list' %}" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 md:p-0 md:w-auto">لیست برند ها</a>
    

          </li>
          <li>
            <a href="{% url 'mobile:mobile_create' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 md:p-0">اضافه کردن گوشی</a>
          </li>
          <li>
            <a href="{% url 'mobile:brand_create' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 md:p-0">اضافه کردن برند</a>
          </li>
    
        </ul>
      </div>
        <div class="flex gap-x-5">
          <a href="{% url 'account:logout' %}" class="text-xl text-red-500">خروج</a>
          {% if user.is_authenticated %}
            <span class="font-VazirBold self-center text-2xl whitespace-nowrap">کاربر : {{ user.username }}</span>
          {% endif %}
        </div>

    </div>
  </nav>
  

